{% extends 'base.html' %}

{% block content %}

  <div id="container">
    <div class="row d-flex justify-content-around" style="max-height: 76vh; overflow-y: scroll;">
      <div class="card mb-3 col-sm-6" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% load static %}
            <img src="{% static  'img/muerteviolenta.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Muertes violentas</h5>
              <p class="card-text">La seguridad en Cartagena ha mantenido las alertas encendidas. A pesar de la pandemia, los casos de muertes violentas en la ciudad muestran una tendencia creciente.</p>
              <a href="{% url 'deaths-violent' %}" style="background-color: #278d9a;" class="btn btn-primary">Graficas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-sm-6" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% load static %}
            <img src="{% static  'img/violenciadomestica.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Volencia Domestica</h5>
              <p class="card-text">La violencia intrafamiliar va en aumento y según los resultados, las mujeres son las más afectadas.</p>
              <a href="{% url 'domestic-violence' %}" style="background-color: #278d9a;" class="btn btn-primary">Graficas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-sm-6" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% load static %}
            <img src="{% static  'img/vivienda.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Viviendas</h5>
              <p class="card-text">Viviendas contruidos por sectores publicos y privados en un determinado estrato.</p>
              <a href="{% url 'living' %}" style="background-color: #278d9a;" class="btn btn-primary">Graficas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-sm-6" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% load static %}
            <img src="{% static  'img/vial.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Infraestructura vial
              </h5>
              <p class="card-text">La infraestrucutura vial de Cartagena no crece desde el año 2012.</p>
              <a href="{% url 'infrastructure-road' %}" style="background-color: #278d9a;" class="btn btn-primary">Graficas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-sm-6" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% load static %}
            <img src="{% static  'img/movilidad.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Movilidad</h5>
              <p class="card-text">La matricula de vehiculo venia de baja desde el 2019 y la pandemia la complico.</p>
              <a href="{% url 'vehicle' %}"  style="background-color: #278d9a;" class="btn btn-primary">Graficas</a>
            </div>
          </div>
        </div>
      </div>

    </div

{% endblock %}